body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 60px;
}

.contenedor-section {
  margin-top: 150px;
}

.container-logo {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.contenedor-input {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.contenedor-input input {
  width: 450px;
  height: 40px;
  border: none;
  outline: none;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.mt-180 {
  margin-top: 180px;
}

.mt-24 {
  margin-top: 24px;
}

.pt-0 {
  padding-top: 0px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-12 {
  padding-right: 12px;
}

.fz-13 {
  font-size: 13px;
}

.flex-column {
  flex-direction: column;
}

.nav-section {
  width: 250px;
  height: auto;
  list-style: none;
}

.nav-section a {
  margin-right: 10px;
  color: #000000;
}

.nav-section img {
  border-radius: 50px;
  margin-left: 10px;
}

.input {
  width: 525px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
}

.input:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

.input .search-icon {
  width: 18px;
  height: 18px;
  opacity: 0.4;
  background-image: url(../img/google-search-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.input .micro-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-image: url(../img/microGoogle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.menu-icon {
  width: 16px;
  height: 16px;
  opacity: 0.6;
  background-image: url(../img/menu-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.contenedor-buttons {
  width: 530px;
  margin: 0 auto;
}

.buttons {
  height: 36px;
  color: #3c4043;
  cursor: pointer;
  padding: 0 15px;
  font-size: 14px;
  margin-right: 15px;
  border-radius: 4px;
  border: 1px solid #f8f9fa;
  background-color: #f8f9fa;
}

.buttons:hover {
  cursor: pointer;
  color: #202124;
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
}

.profile-image {
  border: 0;
  margin: 0px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/fotoPerfil.jfif);
}
